@import "../../../themes.scss";
@import "../../../utils.scss";

.TraitementsTop-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
	background-color: var(--primary-1);

	h1 {
		margin-top: 100px;
		color: var(--white);
	}
	.dent-container {
		position: relative;
		z-index: 1;
		.dent {
			height: 400px;
		}
	}

	.traitements {
		position: absolute;
		.traitement {
			position: absolute;
			width: 400px;
			height: 150px;
			padding: 10px;
			cursor: pointer;
			h3 {
				color: var(--white);
			}
			&:hover {
				background-color: var(--primary-2);
				border-radius: 10px;
			}
		}
		.traitement-1 {
			top: -60px;
			left: -400px;
		}

		.traitement-2 {
			top: 200px;
			left: -500px;
		}

		.traitement-3 {
			bottom: -200px;
			left: -60px;
		}

		.traitement-4 {
			bottom: 0px;
			right: -500px;
		}

		.traitement-5 {
			top: 10px;
			right: -600px;
			transform: translate(-50%, -50%);
		}
	}
}
