@import "../../../themes.scss";
@import "../../../utils.scss";

.prothesistes-container {
	display: flex;
	width: 90vw;
	gap: 2rem;

	.prothesistes-text {
		display: flex;
		gap: 1rem;
		flex-direction: column;
		justify-content: center;
		transform: translateX(-200%);
		transition: transform 0.8s ease;
		
		&.show {
			transform: translateX(0);
		}
		.title {
			color: var(--night-blue);
		}
		.description1 {
			color: var(--primary-1);
			width: 60%;
			font-weight: 100;
			font-size: 1.8em;
		}

		.prothesistes-cards {
			display: flex;
			justify-content: center;
			text-align: center;
			gap:1rem;
			@media (max-width: 500px) {
				flex-direction: column;
			}

			.card-proth {
				transition: 0.2s;
				border-radius: 8px;
				padding: 2rem;
				cursor: pointer;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			
				.icon {
					height: 80px;
					width: 80px;
				}

				h1 {
					font-size: 1.5rem;
				}

				p {
					color: var(--primary-2);
				}

				&:hover {
					transform: scale(1.03);
				}
			}
		}
	}

	.prothesistes-dent {
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateX(200%);
		transition: transform 0.8s ease;
		@media (max-width: 500px) {
			display: none;
		}
		.dent-img {
			width: 400px;
			height: 400px;
		}
		&.show {
			transform: translateX(0);
		}
	}
}
