@import "../../themes.scss";
@import "../../utils.scss";

.lecabinet-container {
	display: flex;
	flex-direction: column;
	gap: 5vh;

	.top {
		background-color: var(--secondary-1);
		width: 100%;
		height: 100vh;
		min-height: 80vh;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
