@import "../../themes.scss";
@import "../../utils.scss";

.lecabinet-container {
	display: flex;
	flex-direction: column;
	gap: 5vh;
	overflow: hidden;

	.top {
		background-color: var(--secondary-1);
		height: 100vh;
		min-height: 80vh;
		display: flex;
		justify-content: space-between;

		img {
			width: 50%;
			object-fit: contain;
		}
	}
}
