@import "../../themes.scss";
@import "../../utils.scss";

.lecabinet-container {
	display: flex;
	flex-direction: column;
	gap: 5vh;
	align-items: center;
	margin-bottom: 10vh;

	@media (max-width: 500px) {
		gap: 3rem;
	}

	.top {
		background-color: var(--secondary-1);
		height: 100vh;
		min-height: 80vh;
		display: flex;
		gap: 2rem;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 500px) {
			flex-direction: column-reverse;
			padding-top: 18rem;
		
		}

		img {
			width: 50%;
			object-fit: contain;

			@media (max-width: 500px) {
				width: 90%;
			}
		}
	}
}
