.equipements-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 30px;
	margin: 20px ;

	.equipements-title {
		color: #09836e;
		font-size: 2em;
		letter-spacing: 5px;
	}
	.equipements-items {
		overflow-y: scroll;
		height: 70vh;
		padding-top: 20px;

		.equipement-item {
			display: flex;
			flex-direction: column;
			align-items: center;

			.circle {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-color: #09836e;
				color: #fff;
				font-size: 1.5rem;
				font-weight: bold;
			}

			.equipement-name {
				font-size: 1.2rem;
				font-weight: bold;
				margin-top: 10px;
			}

			.description {
				font-size: 1rem;
				text-align: center;
			}
		}
	}
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #aee1d7;
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #86d0c1;
	border-radius: 20px;
}
