@import "../../../themes.scss";

.venircheznous-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	margin-top: 4rem;

	.venircheznous-title {
		color: var(--secondary-1);
		font-size: 2em;
		letter-spacing: 5px;
		margin-top: 20px;
	}

	.flex-container {
		display: flex;
	}

	.box-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		margin: 10px;
		background-color: white;
		padding: 1rem;
		gap: 10px;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

		.name {
			display: flex;
			align-items: center;
			gap: 10px;
			.imgbat {
				height: 60px;
			}
		}

		.phonenumber {
			display: flex;
			align-items: center;
			gap: 10px;
			width: 70%;
		}

		.adresse {
			display: flex;
			align-items: center;
			gap: 10px;
			width: 70%;
		}

		.busstop {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			.stop {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
			}
		}

		.button-syrendre {
			display: flex;
			width: fit-content;
			align-items: center;
			padding: 10px;
			gap: 10px;
			border-radius: 15px;
			background-color: var(--primary-1);
			color: white;
			cursor: pointer;

			&:hover {
				transform: scale(1.1);
			}
		}

		.map-container {
			height: 100px;
		}
	}
	.icon {
		color: var(--primary-1);
	}
}
.lighter-font {
	font-weight: lighter;
}
