.accueil-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90vh;
	.accueil-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		.accueil-title {
			margin: 15px;
		}
		.accueil-description {
			margin: 15px;
		}
	}

	.accueil-perso-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 15px;
	}
}
