.assistantes-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 90vh;
	.assistantes-title {
		margin: 15px;
	}
	.assistantes-description {
		margin-left: 15px;
	}
	.assistantes-perso-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 15px;
	}
}
