.assistantes-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	transform: translateX(200%);
	transition: transform 0.8s ease;
	.assistantes-title {
		color: var(--secondary-1);
		margin: 15px;
	}
	.assistantes-description {
		margin-left: 15px;
	}
	.assistantes-perso-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		width: 100vw;
	}
	&.show {
		transform: translateX(0);
	}
}
