@import "../../themes.scss";
@import "../../utils.scss";

.home-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;

    .banniere {
        position: absolute;
        width: 30vw;
        height: 80vh;
        background-color: var(--primary-1);
        background: linear-gradient(120deg, var(--primary-1) 50%, var(--primary-2) 100%);
        right: 10vw;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        img {
        }

    }

    .bienvenue {
        width: 100%;
        height: 100vh;
        background: var(--secondary-1);

        // background: linear-gradient(135deg, var(--primary-1) 50%, var(--primary-2) 100%);
        .lines {
            position: absolute;
            width: 100vw;
            height: 100%;
            opacity: 0.04;
            z-index: 1;
        }

        .dentist {
            position: absolute;
            max-width: 40vw;
            max-height: 90vh;
            right: 10vw;
            bottom: 0;
            z-index: 2;
        }

        @media (max-width: 500px) {
            min-height: 5vh;
            background-attachment: scroll;
            /* Pour rétablir le comportement de l'image en défilement sur les petits écrans */
        }
    }

    .actualite {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--secondary-1);
    }

    .venircheznous {
        display: flex;
        justify-content: center;

        @media (max-width: 500px) {
            flex-direction: column;
        }
    }
}

h1 {
    color: var(--white);
    padding: 0;
    margin: 0;
}