@import "../../themes.scss";
@import "../../utils.scss";

.home-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .bienvenue {
        width: 100%;
        height: 100vh;
        background: rgb(175, 200, 203);
        background: linear-gradient(135deg, rgba(175, 200, 203, 1) 50%, rgba(130, 140, 141, 1) 100%);
		.lines {
			position: absolute;
			width: 100vw;
			height: 100%;
			opacity: 0.04;
            z-index: 1;
		}

        .dentist {
            position: absolute;
            max-width: 40vw;
            max-height: 90vh;
            right: 10vw;
            bottom: 0;
            z-index: 2;
        }
        @media (max-width: 500px) {
            min-height: 5vh;
            background-attachment: scroll;
            /* Pour rétablir le comportement de l'image en défilement sur les petits écrans */
        }
    }

    .actualite {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(145,167,171);
background: linear-gradient(354deg, var(--primary-1), rgba(255,255,255,1) 70%);
        
    }

    .venircheznous {
        display: flex;
        justify-content: center;

        @media (max-width: 500px) {
            flex-direction: column;
        }
    }
}

h1 {
    color: var(--white);
    padding: 0;
    margin: 0;
}