@import '../../themes.scss';
@import '../../utils.scss';

.home-container {
    display: flex;
    flex-direction: column;

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
		height: 80px;
        z-index: 1;
    }

    .bienvenue {
        width: 100%;
		min-height: 80vh;
		background-image: url(../../assets/topimg.png);
		background-repeat: no-repeat;
		background-size: cover;
    }

    .actualite {
        display: flex;
        justify-content: center;
    }
}

h1 {
	color: var(--white);
	padding: 0;
	margin: 0;
}

