@import "../../../themes.scss";
@import "../../../utils.scss";

.slider-container {
  height: 70vh;
  width: 80vw;
  display: flex;
  justify-content: center;

  @media (max-width: 500px) {
    height: 90vh;
    width: 100vw;
  }

  .slider {
    display: flex;
    align-items: center;
    width: 80vw;
    @media (max-width: 500px) {
      width: 100%;
    }
    .dentiste-page {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @media (max-width: 500px) {
      }
      .pagination-button {
        background: none;
        border: none;
        cursor: pointer;
        color: var(--secondary-1);
        font-size: 24px;
        transition: color 0.3s ease;
        &:hover {
          color: var(--primary-1);
        }
      }

      .employee {
        padding: 2rem;
        gap: 2rem;
        display: flex;
        justify-content: space-between;
        @media (max-width: 500px) {
          padding: 0;
          flex-direction: column-reverse;
          align-items: center;
        }
        .info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 50%;
          @media (max-width: 500px) {
            width: 100%;
            text-align: center;
          }
          .name {
            color: var(--night-blue);
            font-size: 3rem;
          }
          .title {
            font-size: 1.5rem;
            color: var(--primary-2);
            text-align: center;
            margin-bottom: 1rem;
          }
          .functions {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .function {
              cursor: pointer;
              white-space: nowrap;
              &:hover {
                transition: 0.4s;
                transform: scale(1.03);
              }
            }
          }
        }
        .photo {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40%;
          height: 100%;

          .photo-dentiste {
            width: 100%;
          }
        }
      }
    }
  }
}
