@import "../../../themes.scss";

.dentistes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  // transform: translateX(-200%);
  transition: transform 0.8s ease;
  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      img {
        height: 30px;
      }
    }
    .dentistes-title {
      color: var(--night-blue);
      @media (max-width: 500px) {
        font-size: 1.4rem;
      }
    }
    .ligne {
      background-color: var(--night-blue);
      height: 1px;
      width: 200px;
      @media (max-width: 500px) {
        flex: 1;
      }
    }
  }

  .dentistes-description {
    width: 70vw;
  }

  .dentistes-perso-container {
    display: flex;
    justify-content: center;
  }

  &.show {
    transform: translateX(0);
  }
}
