@import "../../../themes.scss";

.dentistes-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;

	.dentistes-title {
		color: var(--secondary-1);
		margin: 15px;
	}
	.dentistes-description {
		margin-left: 15px;
	}
}
