.send-mail-container {
	.dialog-overlay {
		.dialog-box {
			.dialog-description {
				.subject-container {
					display: flex;
					flex-direction: column;
					.input {
						border-radius: 10px;
						background-color: red !important;
					}
				}
			}
		}
	}

	.buttons-container {
		gap: 10px;
	}
}
