

.cosmetique-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.cosmetique-img {
	width: 30vw;
	height: auto;
	border-radius: 10px;
	@media (max-width: 650px) {
		width: 90vw;
		height: auto;
	}
}

.blanchiment-container {
	display: flex;
	gap: 20px;
	align-items: center;
	.blanchiment-img {
		height: 30vh;
		width: 50vw;
		border-radius: 10px;
	}
}
