.card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  height: 400px;
  width: 400px;
  .image-container {
	width: 200px;
	height: 200px;
	display: flex;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	border: 0.5rem solid var(--white);
  
    .card-perso-image {
		width: 100%;
		height: auto;
    }
  }

  .card-perso-function-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
  }
}
