.card-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 15px;
	height: 400px;
	width: 400px;
	.card-perso-image {
		height: 200px;
		width: 200px;
		border-radius: 50%;
		box-shadow: rgba(109, 109, 110, 0.2) 0px 7px 29px 0px;
		cursor: pointer;
		padding: 5px;
		&:hover {
			transform: scale(1.1);
			border: none;
		}
	}
	.card-perso-function-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 5px;
		flex-direction: column;
		.card-perso-function {
			padding: 10px;
			box-shadow: rgba(109, 109, 110, 0.2) 0px 7px 29px 0px;
			background: var(--white);
			color: var(--primary-1);
			border-radius: 10px;
			cursor: pointer;
			&:hover {
				transform: scale(1.03);
			}
		}
	}
}
