@import "../../../themes.scss";
@import "../../../utils.scss";

.welcome-container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	margin-top: 25vh;
	margin-left: 150px;
	position: absolute;
	z-index: 3;

	.buttons {
		display: flex;
		gap: 2rem;
	}


	@media (max-width: 500px) {
		width: 80vw;
		margin: 10vh 10vh 10vh 10vw;
	}

.title {
		color: var(--white);
		font-size: 5vw;
		line-height: 5vw;
		margin-bottom: 4vh;
	}

	p {
		color: var(--white);
		font-size: 1.3rem;
		margin-bottom: 3rem;
		width: 35vw;
	}
}
