@import "../../../themes.scss";
@import "../../../utils.scss";

.presentation-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .presentation-wrapper {
        margin-top: 10vh;
        margin-bottom: 15vh;
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;

        .titre {
            width: 50vw;
            transform: translateX(-200%);
            transition: transform 0.8s ease;

            .icones-wrapper {
                display: flex;
                gap: 1rem;
                margin-bottom: 1rem;

                .icone-wrapper {
                    border-radius: 6px;

                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                    img {
                        width: 90%;
                    }
                }
            }


            .presentation-texte {
                color: var(--button-1);
            }

            .presentation-titre {
                color: var(--dark-texte);
                line-height: 3rem;
                font-size: 3rem;
            }

            @media (max-width: 500px) {
                width: 90vw;
            }

            &.show {
                transform: translateX(0);
            }
        }

        .presentation-sagesse {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;

            @media (max-width: 500px) {
                flex-direction: column;
            }

            .titre1 {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 5px;
                padding: 20px;

                h2,
                h5 {
                    color: var(--dark-texte);
                }

                h2 {
                    border-bottom: 2px solid black;
                }

                @media (max-width: 500px) {
                    justify-content: center;
                    align-items: center;
                }

                transform: translateX(-200%);
                transition: transform 0.8s ease;

                &.show {
                    transform: translateX(0);
                }
            }

            .imgdentiste {
                border-radius: 15px;
                cursor: pointer;

                &:hover {
                    transform: scale(1.04);
                    transition: transform 0.3s ease;
                }

                transform: translateX(-300%);
                transition: transform 0.8s ease;

                &.show {
                    transform: translateX(0);
                }
            }

            .description1 {
                width: 40vw;
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 20px;
                transform: translateX(200%);
                transition: transform 0.8s ease;

                @media (max-width: 500px) {
                    width: 80vw;
                }

                img {
                    width: 40px;

                }

                &.show {
                    transform: translateX(0);
                }

                h5 {
                    color: var(--button-1);
                    font-weight: 100;
                }

                h6 {
                    color: var(--dark-texte);
                }

                .button-equipe {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    text-decoration: none;
                }

            }
        }

    }
}