@import "../../../themes.scss";
@import "../../../utils.scss";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    transition: background-color 0.6s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.123);

    &.scrolled {
        background-color: var(--primary-2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.123);

    }

    @media (max-width: 500px) {
        justify-content: start;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-left: 4rem;
        margin-right: 3rem;

        .logo {
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.177);
            border-radius: 8px;

            img {
                width: 70%;
                height: 70%;
            }
        }

        .title-dentiste {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 50px;

            h1,
            p {
                color: var(--white);
                font-size: 1rem;
            }

            @media (max-width: 500px) {
                display: none;
            }
        }
    }

    .navbar-container {
        margin-right: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;

        .navbar-item {
            cursor: pointer;
            height: 100%;
            padding-left: 2rem;
            padding-right: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: var(--hover-1);
                border-bottom: 3px solid var(--white);

            }

            .navbar-link {
                cursor: pointer;
                font-family: 'PT Sans', sans-serif;
                border: none;
                display: flex;
                background: none;
                color: var(--white);
                text-decoration: none;
                font-size: 1.1em;
            }

            .submenu {
                position: absolute;
                background-color: var(--hover-2);
                padding: 3px;
                margin: 0;
                border-radius: 6px;
                top: 90px;
            }
        }

        .navbar-item:hover .submenu {
            display: block;
        }

        .submenu-item {
            display: block;
        }

        .submenu-link {
            transition: 0.2s;
            display: block;
            padding: 0.5rem 1rem;
            color: var(--white);
            text-decoration: none;

            &:hover {
                color: var(--white);
                border-radius: 6px;
                background-color: var(--primary-1);
            }
        }
    }

    .right-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin-right: 3rem;

        .button-contact {
            width: 110px;
            height: 40px;
            border-width: 1px;
        }

        .color-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: var(--white);
            cursor: pointer;
            border: none;

            .inside {
                height: 70%;
                width: 70%;
                background-color: var(--primary-1);
                border-radius: 50%;
            }
        }

        .colorpicker {
            position: absolute;
			right: 2%;
			top: 50px;
            background-color: var(--primary-1);
            padding: 15px;
            margin: 0;
            border-radius: 6px;
			display: flex;
			flex-direction: column;
			gap: 4px;

			button {
				cursor: pointer;
				color: white;
				border-radius: 6px;
				border: 1px solid var(--white);
				background: none;
			}
        }
    }

    .navbar-toggle {
        display: none;

        @media (max-width: 500px) {
            z-index: 1000000;
            display: block;
            background-color: #d5d5d5;
            color: var(--white);
            border: none;
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;
            cursor: pointer;
        }
    }
}