@import "../../../themes.scss";

.sticker {
	position: absolute;
	height: 230px;
	width: 100px;
	left: 12.5%;
	margin-top: -3vh;
	background-color: var(--primary-1);
	background: linear-gradient(
		180deg,
		var(--primary-1) 50%,
		var(--primary-2) 100%
	);
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	img {
		width: 40%;
		padding-bottom: 30px;
	}

	@media (max-width: 650px) {
		display: none;
	}
}

.services-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.line-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		.line {
			width: 40%;
			height: 1px;
			background-color: var(--secondary-1);
		}
		img {
			height: 30px;
			width: 30px;
			opacity: 0.2;
		}
	}

	.main-wrapper {
		width: 75%;
		margin-bottom: 15vh;
		margin-top: 12vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: space-evenly;
		gap: 3rem;

		@media (max-width: 650px) {
			margin-top: 1rem;
		}

		.title {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			line-height: 2.7rem;

			@media (max-width: 650px) {
				align-items: center;
				h2,
				h1 {
					padding: 0 !important;
				}
				h1 {
					font-size: 2.6rem !important;
				}
			}

			h2 {
				padding-left: 120px;
				font-size: 1.7rem;
				color: var(--button-1);
			}

			h1 {
				padding-left: 120px;
				color: var(--dark-text);
				font-size: 3rem;
			}
		}

		.cards-service {
			display: flex;
			justify-content: center;
			text-align: center;
			gap: 1rem;

			@media (max-width: 650px) {
				flex-direction: column;
			}

			.card-service {
				transition: 0.2s;
				border-radius: 8px;
				padding: 2rem;
				cursor: pointer;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				box-shadow: rgba(0, 0, 0, 0.065) 0px 5px 15px 0px;

				.icon {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 70px;
					width: 70px;
					background-color: var(--grey-1);
					border-radius: 50%;
				}

				h1 {
					color: var(--dark-text);
					font-size: 1.5rem;
				}

				p {
					color: var(--secondary-dark-text);
				}

				&:hover {
					scale: (1.1);
				}
			}
		}
	}
}
