// Default theme
:root {
	--primary-1: #6cb22e;
	--secondary-1: #6c757d;
}

// Dark theme
.dark-theme {
	--white: rgb(43, 43, 43);
	--primary-1: #54b2a2;
	--primary-2: #37796e;
	--secondary-1: #253260;
	--hover-1: rgba(255, 255, 255, 0.109);
	--grey-1: #ebebeb;
}

// Light theme
.grey-theme {
	--white: white;
	--primary-1: #91a7ab;
	--primary-2: #b3c6ca;
	--secondary-1: #253260;
	--hover-1: rgba(255, 255, 255, 0.109);
	--hover-2: rgba(255, 255, 255, 0.979);
	--grey-1: #ebebeb;
	--primary-linear: linear-gradient(90deg, #326e90, rgb(43, 52, 65) 100%);
}
