@import "../../../themes.scss";

.sidebar-closed {
	position: fixed;
	display: flex;
	top: 0;
	margin-top: -2px;
	justify-content: space-between;
	width: 100%;
	background-color: none;
	padding: 10px;
	transition: background-color 0.6s ease;

	&.scrolled {
		z-index: 999;
		background-color: var(--secondary-1);
	}

	.toggle-icon {
		height: 40px;
		margin: 10px 0 0 10px;
		color: #ffffff;
		font-size: 24px;
		cursor: pointer;
	}

	.logo {
		margin: 10px 25px 0 0px;
		height: 40px;
		color: #ffffff;
	}
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 100000;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	background-color: var(--primary-2);
	padding: 20px;
	width: 250px;
	transition: transform 0.3s ease;
	transform: translateX(-100%);

	&.open {
		transform: translateX(0);
		transition: transform 0.3s ease;
	}
	.logo-container {
		display: flex;
		gap: 1rem;
		.logo {
			height: 50px;
		}
		.title-dentiste {
			font-size: 1.5em;
		}
	}
	.menu-items {
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-top: 40px;
		gap: 25px;

		.menu-item {
			display: flex;
			flex-direction: column;
			text-decoration: none;

			.menu-title {
				text-decoration: none;
				color: white;
				font-size: 1.5rem;
				cursor: pointer;
				transition: background-color 0.3s ease;

				&:hover {
					background-color: rgba(170, 173, 172, 0.2);
				}
			}

			.submenu-items {
				display: flex;
				flex-direction: column;
				gap: 15px;
				padding-left: 20px;
				margin-top: 20px;
				text-decoration: none;

				.submenu-item {
					text-decoration: none;
					color: #ffffff;
					font-size: 1.2rem;
					font-weight: 100;
					cursor: pointer;
					transition: background-color 0.3s ease;

					&:hover {
						background-color: rgba(152, 158, 156, 0.2);
					}
				}
			}
		}
	}
}
