.dialog-description {
	height: 60vh;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-y: auto;
}

.question-card {
	border-radius: 8px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 2px;
}
